
@{
    ViewBag.Title = "Index3";
}
@section styles{
    <!-- DataTables -->

    <link href="~/Scripts/t2m_adminlte/plugins/jquery-multi-select/css/multi-select.css" rel="stylesheet"/>
    <!-- bootstrap datepicker -->
    <link rel="stylesheet" href="~/Scripts/t2m_adminlte/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">

    <style>
        .demo-img-container {
            height: 430px;
            width: 100%;
            background-color: #dedede;


        }
        .demo-img-container .demo-img-wrapper {
            display: inline-block;
            position: relative;
            max-width: 100%;
            max-height: 430px;

        }
        .demo-img-container .demo-img-wrapper img {
            max-width: 100%;
            max-height: inherit;

        }
        .face-rectangle-f {
            border-color: #ba0b93 !important;
        }
        .face-rectangle-m {
            border-color: #0072c6 !important;
        }
        .face-rectangle {
            position: absolute;
            border: solid 3px;
            z-index: 99;
        }
        .face-rectangle:hover { z-index: 100;}

    </style>
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        添加项目
        @*<small>工作台</small>*@
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-book"></i> 项目计划</a></li>
        <li class="active">添加项目</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">



    <div class="box box-primary">

        <div class="box-body">
            <div id="faceTofaceVerify" class="row">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-6">
                        <h4>比较两张脸是否是同一个人</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-4">
                        <div class="demo-img-container text-center">
                            <div class="demo-img-wrapper">
                                <img id="imgFace1" src="" role="presentation" />

                                @*<div class="face-rectangle face-rectangle-f" style="width: 22%; height: 28%; top: 30%; left: 40%; "></div>*@
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="demo-img-container text-center">
                            <div class="demo-img-wrapper">
                                <img id="imgFace2" src="" role="presentation" />

                                @*<div class="face-rectangle face-rectangle-f" style="top: 29%; left: 29%; width: 40%; height: 30%;"></div>*@
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-1"></div>
                    <div class="col-md-4">
                        <input id="imgFaceFile1" class="hide" type="file" data-face-img-id="imgFace1"/>
                        <input name="faceToface1" type="text" style="width: 340px; display: inline-block;" class="form-control input-sm" placeholder="Image URL">
                        <input id="imgFaceId1" class="hide img-face-id" type="hidden" value="" />
                        <button class="btn btn-info btn-sm sub_verify" type="button"> 比 对 </button>
                        <button class="btn btn-info btn-sm faceToface-cloud-upload" type="button" data-face-id="imgFaceFile1" > <i class="fa fa-cloud-upload" aria-hidden="true"></i> 浏 览</button>
                    </div>
                    <div class="col-md-4">
                        <input id="imgFaceFile2" class="hide" type="file" data-face-img-id="imgFace2"/>
                        <input name="faceToface2" type="text" style="width: 340px; display: inline-block;" class="form-control input-sm" placeholder="Image URL">
                        <input id="imgFaceId2" class="hide img-face-id" type="hidden" value="" />
                        <button class="btn btn-info btn-sm sub_verify" type="button" > 比 对 </button>
                        <button class="btn btn-info btn-sm faceToface-cloud-upload"  type="button" data-face-id="imgFaceFile2"> <i class="fa fa-cloud-upload" aria-hidden="true"></i> 浏 览</button>
                    </div>
                </div>

                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-1"></div>
                    <div class="col-md-8">
                        <h4 id="faceReslut" style="color: red;">
                            
                        </h4>
                        <div id="faceReslutJson"></div>
                    </div>
                </div>
            </div>
            
        </div>

        
    </div>

</section>

@section scripts{
    <script>
        $(function() {
            var isImageFile = function(file) {
                if (file.type) {
                    return /^image\/\w+$/.test(file.type);
                } else {
                    return /\.(jpg|jpeg|png|gif)$/.test(file);
                }
            }

            var drawFaceBox = function($img, initialWidth, initialHeight, faceRectangle) {
                var htmlImgWidth = $img.width();
                var htmlImgHeight = $img.height();

                var b = (htmlImgWidth / initialWidth);
                var htmlFaceWidth = faceRectangle.width * b;
                var htmlFaceHeight = faceRectangle.height * b;
                //var htmlLeft = ((panelWidth - htmlImgWidth) / 2) + (faceRectangle.left * b);
                var htmlLeft = faceRectangle.left * b;
                var htmlTop = faceRectangle.top * b;

                var faceLeftPercent = (htmlLeft / htmlImgWidth) * 100;
                var faceTopPercent = (htmlTop / htmlImgHeight) * 100;
                var faceWidthPercent = (htmlFaceWidth / htmlImgWidth) * 100;
                var faceHeightPercent = (htmlFaceHeight / htmlImgHeight) * 100;

                var $faceBox = $img.parent().find('.face-rectangle');
                if ($faceBox.length === 0) {
                    $faceBox = $('<div class="face-rectangle face-rectangle-f">');
                    $faceBox.appendTo($img.parent());
                }
                //top: 29%; left: 29%; width: 40%; height: 30%;
                $faceBox.css({ "top": faceTopPercent + "%", "left": faceLeftPercent + "%", "width": faceWidthPercent + "%", "height": faceHeightPercent + "%" });
            }

            var change = function () {

                

                $('#faceReslutJson').html('');
                var files;
                var file;
                var data = $(this).data();

                var $imgText = $(this).parent().find('input:eq(1)');
                var $img = $('#' + data.faceImgId);
                var $imgFaceId = $(this).parent().find('input:eq(2)');
                $imgFaceId.val('');
                files = $(this).prop('files');
                if (files.length > 0) {
                    $('#faceTofaceVerify').find('button').prop('disabled', true);

                    file = files[0];
                    if (isImageFile(file)) {
                        var url = URL.createObjectURL(file);
                        var imgFileName = file.name;
                        var imgSize = file.size;
                        if (imgSize > 4 * 1024 * 1024) {
                            alert('图片不能大于4MB');
                            $('#faceTofaceVerify').find('button').prop('disabled', false);
                            return;
                        }

                        $img.prop('src', url);
                        $imgText.val(imgFileName);

                        var formData = new FormData();
                        formData.append("FileModel", file, imgFileName);

                        $.ajax({
                            url: '@Url.Action("ImgFaceDetect")',
                            type: 'POST',
                            data: formData,
                            processData: false,
                            contentType: false,
                            success: function (data) {
                                if (data.Success) {
                                    var faceApiResult = data.Result;
                                    if (faceApiResult.length > 0) {
                                        $('#faceReslutJson').html(JSON.stringify(faceApiResult));
                                        var faceRectangle = faceApiResult[0].faceRectangle;
                                        $imgFaceId.val(faceApiResult[0].faceId);
                                        drawFaceBox($img, data.InitialWidth, data.InitialHeight, faceRectangle);
                                    } else {
                                        $('#faceReslutJson').html("当前上传图片未能识别到人脸");
                                    }
                                } else {
                                    var faceApiErrorResult = JSON.parse(data.Result);
                                    $('#faceReslutJson').html("图片上传失败：" + faceApiErrorResult.error.message);
                                }
                                $('#faceTofaceVerify').find('button').prop('disabled', false);
                            },
                            error: function(error) {
                                $('#faceTofaceVerify').find('button').prop('disabled', false);
                            }
                        });
                    }
                }
            }

            $('.faceToface-cloud-upload').on('click', function(e) {
                var data = $(this).data();
                var fileInputId = data.faceId;
                $('#' + fileInputId).click();
            });

            $('#faceTofaceVerify').find("input[type='file']").on('change', $.proxy(change));

            $('.sub_verify').on('click', function () {
                $('#faceReslut').html('');

                var faceId1 = $('#imgFaceId1').val();
                var faceId2 = $('#imgFaceId2').val();
                if (faceId1 && faceId2) {

                    $.getJSON("@Url.Action("FaceVerify")", { faceId1: faceId1, faceId2: faceId2 }, function (data) {
                        if (data.Success) {
                            var result = JSON.parse(data.Result);
                            if (result.hasOwnProperty("isIdentical")) {
                                var confidence = result.confidence * 100;
                                if (result.isIdentical) {
                                    $('#faceReslut').html("这两张脸属于同一个人，匹配指数：" + confidence + "%");
                                } else {
                                    $('#faceReslut').html("这两张脸不是同一个人，匹配指数：" + confidence + "%");
                                }
                            }
                        }
                    });

                } else {
                    alert('请上传另外一张照片');
                }
            });

        });
    </script>
}